
/*全体に適応されるやつ*/
body{
    text-align: center;
    background-color: #7fc2c2;
    margin: auto;
    font-family: "M PLUS Rounded 1c", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

p{
    text-align: center;
    font-size: 1.4em;
}

input, button, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ヘッダーの装飾 */
header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #E1774B;
}
.menu-list {
    text-align: center;
    margin: 0 auto;
}
.menu-list-item {
    list-style: none;
    display: inline-block;
    padding: 10px 5px;
    font-size: 1.4em;
    color: #ffffff;
    width: 150px;
    cursor: pointer;
}
.menu-list-item:hover{
    color: #F4DB60;
}
.menu-list-check{
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    font-size: 1.4em;
    color: #F4DB60;
    background-color: #d66534;
    border-bottom: solid 1.2px #cac8c8;
    width: 150px;
    cursor: pointer;
}

/*ボタンの装飾*/
#btn, input[type="button"]{
    outline: none;
    width: 360px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color:#E1774B;
    color: #ffffff;
    cursor: pointer;
    border-radius: 100vh;
    border-style: none;
}

/*ボタンにカーソルを合わせたときの装飾*/
#btn:hover, input[type="button"]:hover{
    background:#e48a64;
    color: #ffffff;
}

/*ラジオボタンの非表示*/
#hukkin, #haikin, #udetate{
    display: none;
}

/*ラジオのラベルの装飾*/
.label1 {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 33px;
    padding-right: 33px;
    background-color: #E1774B;
    color: #ffffff;
    cursor: pointer;
    border-radius: 100vh;
}
.label2 {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #E1774B;
    color: #ffffff;
    cursor: pointer;
    border-radius: 100vh;
}

/*ラジオボタンにカーソルを合わせたときの装飾*/
.label1:hover, .label2:hover {
    background:#e48a64;
    color: #ffffff;
}

/*ラジオボタンを選択した時の装飾*/
input[type="radio"]:checked + label {
    background: #c06a45;
    color: #cac8c8;
}

/*formの装飾*/
#num {
    width: 320px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px 15px;
    color: #999999;
    border-radius: 100vh;
    border-style: none;
    outline: none;
}

/*---index.html内部----*/

/*アプリ名の装飾*/
#appname{
    font-family: "Nico Moji",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120px;
    padding-top: 30px;
    padding-bottom: 32px;
    color: #F4DB60;
}

/*---training.html内部----*/
.wrap_center{
    padding-top: 100px;
    align-items: center;
}

.wrap{
    display: flex;
    justify-content: center;
}


#goal{
    color: #F4DB60;
    font-size: 100px;
    font-weight: 900;
    /*
    padding-top: 5px;
    padding-bottom: 10px;
    */
}

#slash{
    color: #F4DB60;
    font-size: 100px;
    font-weight: 900;
}

#kind{
    color: #F4DB60;
    font-size: 25px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 5px;
}

#target {
/*
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0091EA;
    border-radius: 20px;
    margin: 10px 0;
    font-size: 1.5rem;
*/
    font-size: 100px;

    color:#E1774B;

}

/* result.html内部 */

#nam, #kalorie, #cnt, #comment{
    font-size: 1.4em;
    color: #ffffff;
}
#kcal{
    font-size: 1.8em;
    color: #F4DB60;
}

/* ranking.html内部 */
/*ランキング表を装飾*/
th,
td {
  border: solid 5px;
  border-color: #7FC2C2;
  background-color: azure;
  text-align: center;
  padding: 5px;
  /* 枠線指定 */
}

table {
  border-collapse: collapse;
  /* セルの線を重ねる */
  width: 500px;
  /* 幅指定 */
}

.midashi {
  text-align: center;
  color: azure;
  background-color: #E1774B;
  padding: 10px;
}

th {
  width: 200px;
  /* 幅指定 */
  text-align: left;
  /* 文字の揃え位置指定 */

}

/* プロフィール用 */
/* pタグ */
.prop {
    margin-top: 1.3em;
    margin-bottom: 0em;
}

/* input type=text */
#name {
    width: 320px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 100vh;
    border: 1px solid #696969;
    margin:0px;
}
#name::placeholder{
    color:#b5b5b5
}

/* ラジオボタン・ラベル */
/*ラジオボタンの非表示*/
#man, #woman{
    display: none;
}

/*ラジオのラベルの装飾*/
.swal2-label {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    margin:20px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 100vh;
}
#lman {
    background-color: #69c4c3;
}
#lwoman {
    background-color: #f0703e
}

/*ラジオボタンにカーソルを合わせたときの装飾*/
#lman:hover {
    background:#78d8d6;
}
#lwoman:hover {
    background:#e48a64;
}

/* ラジオボタンを選択した時の装飾 */
#man:checked + span {
    background:#519897;
    color: #e6e6e6;
}
#woman:checked + span {
    background:#cc5f35;
    color: #e6e6e6;
}

/* スライダー */
/* 背景色 */
.rang {
    -webkit-appearance: none;
    background: linear-gradient(to right, #69c4c3 0%, #69c4c3 20%, #a9a9a9 20%, #a9a9a9 100%);
    border-radius: 8px;
    height: 10px;
    width: 300px;
    outline: none;
    transition: background 450ms ease-in;
}
/* つまみ */
/* WebKit向け */
.rang::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #69c4c3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}
/* カーソル上 */
.rang:hover::-webkit-slider-thumb {
    background: #78d8d6;
}
/* 選択中 */
.rang:active::-webkit-slider-thumb {
    background: #519897;
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}
/* Moz向け */
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background: #69c4c3;
    width: 20x;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border: none;
}

/* 保存・OKボタン */
.swal2-confirm {
    width: 150px !important;
    font-size: 1.4em !important;
    font-weight: bold !important;
    padding: 7px 30px !important;
    background-color:#69c4c3 !important;
    color: #ffffff !important;
    border-radius: 2vh !important;
}

/* ミッションのレート表示に使うclass */
.rate{
    width: 50px;
}

/* クリアしたミッションに使うclass */
.clear{
    opacity: 0.7;
}
