
/*全体に適応されるやつ*/
body{
    text-align: center;
    background-color: #7fc2c2;
    margin: auto;
    font-family: "M PLUS Rounded 1c", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

/*ボタンの装飾*/
#btn{
    width: 360px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px; 
    background-color:#E1774B;
    color: #F4DB60;
    cursor: pointer;
    border-radius: 100vh;
    border-style: none;
}

/*ボタンにカーソルを合わせたときの装飾*/
#btn:hover{
    background:#e48a64;
    color: #f3e189;
}

/*ラジオボタンの非表示*/
#hukkin, #haikin, #udetate{
    display: none;
}

/*ラジオのラベルの装飾*/
.label1 {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 33px;
    padding-right: 33px;
    background-color: #E1774B;
    color: #F4DB60;
    cursor: pointer;
    border-radius: 100vh;
}
.label2 {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #E1774B;
    color: #F4DB60;
    cursor: pointer;
    border-radius: 100vh;
}

/*ラジオボタンにカーソルを合わせたときの装飾*/
.label:hover {
    background:#e48a64;
    color: #f3e189;
}

/*ラジオボタンを選択した時の装飾*/
input[type="radio"]:checked + label {
    background: #e79f7f;
    color: #ece0a4;
}

/*formの装飾*/
#num, #nam {
    width: 320px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px 15px;
    color: #999999;
    border-radius: 100vh;
    border-style: none;

}

/*---index.html内部----*/

/*アプリ名の装飾*/
#appname{
    font-family: "Nico Moji",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 120px;
    padding-top: 30px;
    padding-bottom: 32px;
    color: #F4DB60;
}

/*---training.html内部----*/
.wrap_center{
    padding-top: 100px;
    align-items: center;
}

.wrap{
    display: flex;
    justify-content: center;
}


#goal{
    color: #F4DB60;
    font-size: 100px;
    font-weight: 900;
    /*
    padding-top: 5px;
    padding-bottom: 10px;
    */
}

#slash{
    color: #F4DB60;
    font-size: 100px;
    font-weight: 900;
}

#kind{
    color: #F4DB60;
    font-size: 25px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 5px;
}

#target {
/*
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0091EA;
    border-radius: 20px;
    margin: 10px 0;
    font-size: 1.5rem;
*/
    font-size: 100px;

    color:#E1774B;

}


